/* Chat Input Container */
.chat-input-container {
    padding: 1rem;
    border-top-width: 1px;
    width: 100%;
  }
  
  .chat-input-container--dark {
    border-color: #1e293b; /* slate-800 */
  }
  
  .chat-input-container--light {
    border-color: #e2e8f0; /* slate-200 */
  }
  
  /* Chat Form */
  .chat-form {
    max-width: 48rem;
    margin: 0 auto;
    position: relative;
  }
  
  /* Textarea Styling */
  .chat-textarea {
    width: 100%;
    border-radius: 1.5em;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    min-height: 50px;
    max-height: 200px;
    resize: none;
  }
  
  .chat-textarea--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .chat-textarea--dark {
    background-color: #2a384f; /* slate-800 */
    color: #ffffff;
  }
  
  .chat-textarea--light {
    background-color: #fbfbfb;
    color: #1e293b; /* slate-900 */
    border: 1px solid #b0b0b0; /* slate-200 */
  }
  .chat-textarea--dark::-webkit-input-placeholder {
    color: white;
  }
  .chat-textarea--light::-webkit-input-placeholder {
    color: black;
  }
  /* Submit Button */
  .chat-submit-button {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.5rem;
    border-radius: 9999px; /* Full rounded */
    transition: background-color 0.2s;
  }
  
  .chat-submit-button--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .chat-submit-button--dark {
    color: #ffffff;
  }
  
  .chat-submit-button--dark:hover {
    background-color: #334155; /* slate-700 */
  }
  
  .chat-submit-button--light {
    color: #1e293b; /* slate-900 */
  }
  
  .chat-submit-button--light:hover {
    background-color: #f1f5f9; /* slate-100 */
  }
  
  /* Icon Size */
  .icon-size {
    height: 1.25rem;
    width: 1.25rem;
  }
  